html{
    background-image: radial-gradient( circle 993px at 0.5% 10.5%,  rgba(137,171,245,0.87) 10%, rgba(245,247,252,1) 90.2%);
}

body {
    height: 100vh;
    padding-top: $header-height;
    margin: 0;
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    font-size: 18px;
    line-height: 1.67;
    letter-spacing: 0.02em;
    /* font-family: 'Raleway', sans-serif; */
}

.no-scroll{
    overflow: hidden;
    // visibility: hidden;
    // pointer-events: none;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
}

ul {
    margin: 0;
    padding-left: 0;
    list-style-type: none;
}

button {
    cursor: pointer;
    border: none;
    display: block;
    font-family: inherit;
}

a {
    color: inherit;
    text-decoration: none;
}

address {
    font-style: normal;
}

img {
    display: block;
}

.list {
    list-style: none;
}

.link {
    text-decoration: none;
}

